node_red_websocket_test.txt
[{"id":"d28f9dcc.5e5b38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d299909d.1b8b7","type":"inject","z":"d28f9dcc.5e5b38","name":"CONNECTION_REQUEST","topic":"","payload":"{\"type\":\"connection_request\",\"request_type\":\"connect_to_prop\",\"prop_id\":\"666\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":180,"y":120,"wires":[["36672907.e501be"]]},{"id":"36672907.e501be","type":"websocket out","z":"d28f9dcc.5e5b38","name":"Property Simulation","server":"1875a83.a4f80d8","client":"","x":500,"y":120,"wires":[]},{"id":"2be76f03.99f2a","type":"websocket in","z":"d28f9dcc.5e5b38","name":"Property Listener","server":"1875a83.a4f80d8","client":"","x":120,"y":240,"wires":[["5ea993bb.1b2e74"]]},{"id":"2eeb8d24.460b0a","type":"debug","z":"d28f9dcc.5e5b38","name":"debug node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":521,"y":279,"wires":[]},{"id":"5ea993bb.1b2e74","type":"json","z":"d28f9dcc.5e5b38","name":"","property":"payload","action":"","pretty":false,"x":219,"y":381,"wires":[["2eeb8d24.460b0a","a367bdf.950a3c","d70a1878.9beb","5cf665b1.a9eaec"]]},{"id":"a367bdf.950a3c","type":"function","z":"d28f9dcc.5e5b38","name":"filter","func":"if (msg.payload[\"value_name\"] == \"ambient_temperature\") {\n    var return_obj = {}\n    return_obj[\"payload\"] = Number(msg.payload[\"value\"])\n    return return_obj\n} else {\n    return {}\n}","outputs":1,"noerr":0,"x":376.5,"y":439,"wires":[["8cf57532.9fef28"]]},{"id":"8cf57532.9fef28","type":"ui_gauge","z":"d28f9dcc.5e5b38","name":"Temperature display","group":"37f0de21.8c850a","order":0,"width":0,"height":0,"gtype":"gage","title":"ambient_temperature","label":"units","format":"{{value}}","min":"-10","max":"40","colors":["#1500b5","#9de600","#ff0000"],"seg1":"","seg2":"","x":588.5,"y":439,"wires":[]},{"id":"d70a1878.9beb","type":"function","z":"d28f9dcc.5e5b38","name":"filter","func":"if (msg.payload[\"value_name\"] == \"room2nd_temperature\") {\n    var return_obj = {}\n    return_obj[\"payload\"] = Number(msg.payload[\"value\"])\n    return return_obj\n} else {\n    return {}\n}","outputs":1,"noerr":0,"x":376,"y":544,"wires":[["e8e42c88.2a1758"]]},{"id":"e8e42c88.2a1758","type":"ui_gauge","z":"d28f9dcc.5e5b38","name":"Temperature display","group":"37f0de21.8c850a","order":0,"width":0,"height":0,"gtype":"gage","title":"room2nd_temperature","label":"units","format":"{{value}}","min":"-25","max":"40","colors":["#00b5ad","#9de600","#ff0000"],"seg1":"","seg2":"","x":594,"y":544,"wires":[]},{"id":"5cf665b1.a9eaec","type":"function","z":"d28f9dcc.5e5b38","name":"filter","func":"if (msg.payload[\"value_name\"] == \"room4th_temperature\") {\n    var return_obj = {}\n    return_obj[\"payload\"] = Number(msg.payload[\"value\"])\n    return return_obj\n} else {\n    return {}\n}","outputs":1,"noerr":0,"x":375,"y":650,"wires":[["90bba29e.38b0d"]]},{"id":"90bba29e.38b0d","type":"ui_gauge","z":"d28f9dcc.5e5b38","name":"Temperature display","group":"37f0de21.8c850a","order":0,"width":0,"height":0,"gtype":"gage","title":"room4th_temperature","label":"units","format":"{{value}}","min":"-25","max":"40","colors":["#00b5ad","#9de600","#ff0000"],"seg1":"","seg2":"","x":594,"y":650,"wires":[]},{"id":"1875a83.a4f80d8","type":"websocket-listener","z":"","path":"ws://schuecobe5hackdays.azurewebsites.net/WebSocketServer.ashx?","wholemsg":"false"},{"id":"37f0de21.8c850a","type":"ui_group","z":"","name":"Default","tab":"8767ea21.5bb8","disp":true,"width":"6","collapse":false},{"id":"8767ea21.5bb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]<Paste>
